body {
    background-color: antiquewhite;
}

.navbar {
    align-items: center;
}

ul {
    display: flex;
    align-items: center;

}

li {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

button {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3.6em;

}

h5 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}